@page "/ListadoPolizas/{FalloAgregar:bool?}"
@inject ListarPolizasUseCase ListarPolizasUseCase
@inject EliminarPolizaUseCase EliminarPolizaUseCase
@inject ModificarPolizaUseCase ModificarPolizaUseCase
@inject AgregarPolizaUseCase AgregarPolizaUseCase
@inject NavigationManager Navegador

<DialogoConfirmacion @ref="dialogo" OnConfirmado="Eliminar"/>
<br>
<button class="btn btn-success" @onclick="()=>AgregarPoliza()">
    <span class="oi oi-plus"></span> Agregar
</button>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>VALOR ASEGURADO</th>
            <th>FRANQUICIA</th>
            <th>COBERTURA</th>
            <th>FECHA INICIO VIGENCIA</th>
            <th>FECHA FIN VIGENCIA</th>
            <th>VEHICULOID</th>
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pol in _lista){
            <tr>
                <td>@pol.Id</td>
                <td>@pol.ValorAsegurado</td>
                <td>@pol.Franquicia</td>
                <td>@pol.Cobertura</td>
                <td>@pol.FechaInicioVigencia</td>
                <td>@pol.FechaFinVigencia</td>
                <td>@pol.VehiculoId</td>
                <td>
                    <button class="btn btn-primary" @onclick="()=>ModificarPoliza(pol.Id)">
                        <span class="oi oi-pencil"></span>
                    </button>
                    <button class="btn btn-danger" @onclick="()=>ConfirmarEliminacion(pol)">
                        <span class="oi oi-trash"></span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    List<Poliza> _lista = new List<Poliza>();
    protected override void OnInitialized(){
        _lista = ListarPolizasUseCase.Ejecutar();
    }

    DialogoConfirmacion dialogo = null!;
    Poliza? _polizaParaEliminar = null; 
    [Parameter]  public bool  FalloAgregar{get;set;}
    private void ConfirmarEliminacion(Poliza pol){
        _polizaParaEliminar = pol;
        dialogo.Mensaje = $"¿Desea eliminar la Poliza {pol.Id} con vehiculo: {pol.VehiculoId}?";
        dialogo.Mostrar();
    }
    private void Eliminar(){
        if (_polizaParaEliminar != null) //Acá realmente se elimina.
        {
            EliminarPolizaUseCase.Ejecutar(_polizaParaEliminar.Id);
            _lista = ListarPolizasUseCase.Ejecutar(); 
        }
    }
    void ModificarPoliza(int id){
        Navegador.NavigateTo($"poliza/{id}");
    }
    void AgregarPoliza(){
        Navegador.NavigateTo($"poliza/");
    }
}
